@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #FFF;
  --font-color: 0, 0, 0;
  --accent-color: #ff4400;
}

.dark{
  --background-color: #000;
  --font-color: #FFF;
  --accent-color: #ff4400;
}

body {
  color: rgb(var(--font-color));
  background: rgb(var(--background-color));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

